.rs-book-item {
  margin: 5px 0;
}

.rs-book-item__cover img {
  max-width: 120px;
  height: 180px;
}

.rs-book-item__info {
  padding: 0 10px;
}

.rs-book-item__title {
  /* color: #79bf00; */
  color: #18BC9C;
  font-size: 1.6rem;
}

.rs-book-item__author {
  font-size: 1rem;
}

.rs-book-item__price {
  /* color: crimson; */
  color: #E74C3D;
  font-size: 2rem;
}